.usernameForm{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usernameFormHeader{
    background-color: #01a91b;
    padding: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.usernameFormMiddle{
    width: 80%;
    font-size: 1.1em;
    padding-left: 10px;
    border-left: 1px solid #01a91b;
    border-right: 1px solid #01a91b;

}

.usernameFormBottom{
    width: 80%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #01a91b;
    border-right: 1px solid #01a91b;
    border-bottom: 1px solid #01a91b;

}

.usernameFormButton{
    width: 100%;
    margin: 1em;
    margin-top: 1em;
    padding: 0.1em;
    font-size: large;
    font-weight: bold;
    background-color: #01a91b;
    border: none;
    color: white;
    border-radius: 10px;
}

.inputField{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.smallText{
    font-size: small;
    margin-top: 0.5em;
}





.container{
    width: 100%;
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}

.messageContainer{
    max-height: calc(100vh - 106.4px);
    overflow-y: scroll;
}

.singleMessage{
    margin-bottom: 10px;
}

.formsLogout{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1%;
}